#sidebar
{
    margin-left: 2%;
    margin-right: 1%;
    float: left;
    width:400px;
    position: relative;
}
body
{
	font-family: "Trebuchet MS", "Arial", "Helvetica", "Verdana", "sans-serif";
}
.ui-helper-reset
{
    font-size: 15px !important;
}
.contentContainer
{
    word-wrap:break-word;
    overflow-y: auto;
    direction: rtl;
    height: 200px;
}
#objectEditor {
    position: relative;
    border: none !important;
}
.imgContainer
{
    float: left;
    padding-top: 5px;
    padding-left: 5px;
}
.desc{
    text-align: center;
}

 #content
 {
      width:60%;
      float: left;
      
 }
 .flip
 {
     padding: 10px;
     font-size: 0.6em !important;
 }
 .slidingPanel
 {
     height: 300px;
     font-size: 0.5em !important;
     overflow-y: auto;
     direction: rtl;
     padding-left: 13px;
 }
 .accordion
 {
     padding: 5px;
     overflow-y: auto;
     position: absolute;
     bottom: 5px;
     left: 5px;
     right: 5px;
     top: 85px;
 }
 #map
 {
     position: absolute;
     left: 4px;
     right: 5px;
     bottom: 5px;
     top: 45px;
     border: 1px #aaaaaa solid;
     border-radius: 4px;
 }
 #txtBuilder
 {
     position: absolute;
     left: 4px;
     right: 5px;
     bottom: 5px;
     top: 45px;
     border: 1px #cccccc solid;
 }
 #geoBuilder
 {
     position: absolute;
     left: 4px;
     right: 5px;
     bottom: 5px;
     top: 45px;
     border: 1px #cccccc solid;
 }
 #searchDivc{
     position: absolute;
     top: 55px;
     left: 5px;
     right: 5px;
 }
 #searchInput{
     float: right;
     width: 90%;
 }
 #searchDivc img{
     float:left;
 }
 .prev
 {
    display:block;
    margin:3px;
    width: 64px;
    height: 64px;
 }
 #fullPic{
     height:128px;
     width: 128px;
     display: none;
     position: absolute;
     z-index: 2;
 }
 #accSearch{
     position: absolute;
     top: 50px;
     left: 30px;
     right: 5px;
 }
 #collapseImg{
     
 }
 .accordionContainer{
     top: 30px;
     position: relative;
 }
 #txt{
     
 }
 .scrollHelper{
     display:none;
 }
 #editBtn{
     position:absolute;
     right:10px;
     top: 10px;
     font-size: 0.8em;
 }
 #backBtn{
     position:absolute;
     right:70px;
     top: 10px;
     font-size: 0.8em;
 }