#sidebar
{
    margin-left: 2%;
    margin-right: 1%;
    float: left;
    width:25%;
    position: relative;
}
body
{
	font-family: "Trebuchet MS", "Arial", "Helvetica", "Verdana", "sans-serif";
}
.ui-helper-reset
{
    font-size: 15px !important;
}
.contentContainer
{
    word-wrap:break-word;
    overflow-y: auto;
    direction: rtl;
    height: 200px;
}
#objectEditor {
    position: relative;
    border: none !important;
}
.imgContainer
{
    float: left;
    padding-top: 5px;
    padding-left: 5px;
}
.desc{
    text-align: center;
}

 #content
 {
      width:68%;
      float: left;
      
 }
 .flip
 {
     padding: 10px;
     font-size: 0.6em !important;
 }
 .slidingPanel
 {
     height: 180px;
     font-size: 0.5em !important;
     overflow-y: auto;
     direction: rtl;
     padding-left: 13px;
 }
 .accordion
 {
     padding: 10px;
     overflow-y: auto;
     position: absolute;
     bottom: 5px;
     left: 5px;
     right: 5px;
     top: 85px;
 }
 #map
 {
     position: absolute;
     left: 4px;
     right: 5px;
     bottom: 5px;
     top: 45px;
     border: 1px #aaaaaa solid;
     border-radius: 4px;
 }
 #txtBuilder
 {
     position: absolute;
     left: 4px;
     right: 5px;
     bottom: 5px;
     top: 45px;
     border: 1px #cccccc solid;
 }
 #geoBuilder
 {
     position: absolute;
     left: 4px;
     right: 5px;
     bottom: 5px;
     top: 45px;
     border: 1px #cccccc solid;
 }
 #searchDivc{
     position: absolute;
     top: 55px;
     left: 5px;
     right: 5px;
 }
 #searchInput{
     float: right;
     width: 90%;
 }
 #searchDivc img{
     float:left;
 }
 .prev
 {
    display:block;
    margin:3px;
    width: 64px;
    height: 64px;
 }
 #fullPic{
     height:128px;
     width: 128px;
     display: none;
     position: absolute;
     z-index: 2;
 }

 #osmSearch
 {
     margin-left:5px;
 }
 
#osmSearch input[type="submit"] {
    border: 0;
    margin: 0;
    margin-right: 6px;
    padding: 0;
    width: 15px;
    height: 15px;
    text-indent: -1000px;
    overflow: hidden;
    background: url('/img/osm-search.png') 0 0 no-repeat;
    /*position: absolute;
    top: 5px;
    right: 5px;*/
    cursor: pointer;
    display: inline-block;
}
#osmSearch input[type="text"] {
    width: 165px;
    padding: 3px;
    font-size: 14px;
    line-height: 15px;
    height: 25px;
    padding: 2px 0px 2px 5px;
    box-shadow: inset #DDD 0px 1px 3px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    width: 90%;
}
#searchbar
{
    position: absolute;
    left: 4px;
    width:250px;
    bottom: 5px;
    top: 45px;
    border: 1px #aaaaaa solid;
    border-radius: 4px;
    z-index:5;
    background-color: white;
    overflow: auto;
   /* background-color: red;*/
}
#searchbar_header
{
    padding: 5px 10px;
    background: #F4F4FF;
    border-bottom: 1px solid #ccc;
}
#searchbar_header h6, #searchbar_content h6
{
    margin:5px;
    font-size: 10px;
    font-weight: bolder;
    float: left;
}
#searchbar_header a.close_link
{
    margin-top:5px;
    font-size: 10px;
    float:right;
}
ul.results-list
{
    clear: left;
    margin:0;
    padding: 5px 5px 5px 5px;
}
ul.results-list li {
    border-top: 1px solid #ccc;
    /*border-bottom: 1px solid #ccc;*/
    list-style: none;
    margin:0;
}
ul.results-list li p{
    font-size: 10px;
    margin-left:3px;
}